@page
@model ToDo_List.Pages.ShoppingPages.GroceriesPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Groceries</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Groceries.Id" />
            <div class="form-group">
                <label asp-for="Groceries.GroceryName" class="control-label"></label>
                <input asp-for="Groceries.GroceryName" class="form-control" />
                <span asp-validation-for="Groceries.GroceryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Groceries.GroceryAmount" class="control-label"></label>
                <input asp-for="Groceries.GroceryAmount" class="form-control" />
                <span asp-validation-for="Groceries.GroceryAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Groceries.GroceryPrice" class="control-label"></label>
                <input asp-for="Groceries.GroceryPrice" class="form-control" />
                <span asp-validation-for="Groceries.GroceryPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Groceries.ShoppingId" class="control-label"></label>
                <select asp-for="Groceries.ShoppingId" class="form-control" asp-items="ViewBag.ShoppingId"></select>
                <span asp-validation-for="Groceries.ShoppingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
