<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="allfile" fileName="c:\ToDoListLogs\nlog-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
		
		<target xsi:type="File" name="file" fileName="c:\ToDoListLogs\nlogOnly-${shortdate}.log"
						layout="${aspnet-user-identity}|${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="ToDo_List.Pages.*" minlevel="Trace" writeTo="file" />
		<logger name="*" minlevel="Off" writeTo="file" />
	</rules>
</nlog>