@page
@model ToDo_List.Pages.WorkPages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Work</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Work.WorkName" class="control-label"></label>
                <input asp-for="Work.WorkName" class="form-control" />
                <span asp-validation-for="Work.WorkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Work.StartDateTime" class="control-label"></label>
                <input asp-for="Work.StartDateTime" class="form-control" />
                <span asp-validation-for="Work.StartDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Work.EndDateTime" class="control-label"></label>
                <input asp-for="Work.EndDateTime" class="form-control" />
                <span asp-validation-for="Work.EndDateTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Work.IsCompleted" /> @Html.DisplayNameFor(model => model.Work.IsCompleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Work.ToDoId" class="control-label"></label>
                <select asp-for="Work.ToDoId" class ="form-control" asp-items="ViewBag.ToDoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
