html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #ededed;
}


.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: gray;
}

.index-page {
    display: flex;
    align-items: flex-start;
}


.categories {
    width: 30%;
    background-color: #fff;
    margin-right: 16px;
    border-radius: 16px;
}

.category {
    border-bottom: solid 1px #dedede;
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.category:first-of-type {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.category:hover {
    background-color: #f2f2f2;
}

.cattegory__add {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #727272;
    color: white;
    text-decoration: none;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    font-size: 26px;
}

.cattegory__add:hover {
    color: white;
}

.category__description {
    margin: 0;
    color: #727272;
}

.category h5 {
    color: #000;
    margin: 0;
}

.todos {
    width: 70%;
    background: #ffffff;
 
}

.todo {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.todos__container {
    padding: 16px 32px;
}

.todo__container {
    width: 100%;
    padding-left: 8px;
}

.todo__info {
    display: flex;
    justify-content: space-between;
}

.todo__info p {
    margin: 0;
    padding 0;
    color: #727272;
}

.todo__text {
    margin: 0;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content li {
    list-style-type: none;
}
.dropdown-button {
    text-decoration: none;
    color: #727272;
}

.round-button {
    margin: auto;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    background-color: #727272;
    color: white;
    text-decoration: none;
    font-size: 35px;
}
.todo__add {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #727272;
    color: white;
    text-decoration: none;
    font-size: 26px;
}

.todo__add:hover {
    color: white;
}